.map_container {
  padding: 5px;
  width: 700px;
  
}
.map_container img{max-width: none; height: auto;}

.gmaps4rails_map {
  
  width: 700px;
  height: 400px;
  max-width: none;
 
}
.gmaps4rails_map img {max-width: none; height: auto;
}
.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
}